<template>
    <h1>Contact Information</h1>
    <hr>
    <span>Bryan Rittenberry</span>
    <br />
    <a>admin@rittenberry.io</a>
    <br />
    <br />
<div>
    <a href="https://www.flickr.com/photos/rittenberry"> <i class="fa fa-flickr fa-2x"></i></a>
    <a href="https://www.linkedin.com/in/bryan-rittenberry-a11519a6"> <i class="fa fa-linkedin-square fa-2x"></i></a>
    <a href="https://twitter.com/rittenberry01"> <i class="fa fa-twitter-square fa-2x"></i></a>
    <a href="https://www.facebook.com/bryan.rittenberry"> <i class="fa fa-facebook-square fa-2x"></i></a>
    <a href="https://www.instagram.com/bryan_rittenberry/"> <i class="fa fa-instagram fa-2x"></i></a>
    <a href="https://gitlab.com/rittenberry"> <i class="fa fa-gitlab fa-2x"></i></a>
    <a href="https://github.com/rittenberry"> <i class="fa fa-github fa-2x"></i></a>
    
</div>
</template>