<template>
    <h1>Pictures</h1>
    <br />
    <h2>Galleries</h2>
                <!--<ul>
                    <li repeat.for = "photoset of data.photosets.photoset" >
                        <div class="panel panel-default">

                            <image class="img-thumbnail" src="https://farm${ photoset.farm }.static.flickr.com/${  photoset.server }/${ photoset.primary }_${ photoset.secret }_s.jpg";></image>
                            <br />
                            <span>${ photoset.title._content }</span>
                        </div>
                    </li>
                </ul>-->

                    <div style="overflow-x: auto; white-space: nowrap;">
                        <div class="panel panel-default" repeat.for = "photoset of data.photosets.photoset" style="display:inline-block" click.delegate = "getPhotos(photoset.id)">

                            <image class="img-thumbnail" src="https://farm${ photoset.farm }.static.flickr.com/${  photoset.server }/${ photoset.primary }_${ photoset.secret }_s.jpg";></image>
                            <br />
                            <span style="width:100px; word-wrap: normal">${ photoset.title._content }</span>
                        </div>
                    </div>

                    <br />

                    <div>
                        <div class="panel panel-default" repeat.for = "photo of photos.photoset.photo" style="display:inline-block">
                            <image class="img-thumbnail" src="https://farm${ photo.farm }.static.flickr.com/${  photo.server }/${ photo.id }_${ photo.secret }_s.jpg";></image>
                        </div>
                    </div>

</template>