.selectedrow {
    background-color: #0ff;
}
.itemoff {
    color:lightgray;
}

.header {
    background-color: darkblue;
    color: white;
}

.lightgraybackground{
    background-color: lightgray;
}

.layertable{
    background-color: white;
    width: 100%;
}
.layer-window {
    left:600px;
}
.icon-field {
    width: auto;
}