<template>
    <require from="./mapdesigner.css"></require>
    <require from="../shared/window"></require> 
        <!-- <select value.bind="selectedLayer" change.delegate="layerChanged()">
            <option model.bind="null">Choose...</option>
            <option repeat.for="layer of layers"
                    model.bind="layer">
                ${layer.id} - ${layer.name}
            </option>
        </select>  -->

        <!-- <div class="btn-group" data-toggle="buttons">
            <div class="form-check" repeat.for="layer of layers">
                <label class="btn btn-primary">
                    <input style="display:none" type="radio" name="group1"
                            model.bind="layer" checked.bind="selectedLayer">
                    ${layer.id} - ${layer.name}
                </label>
            </div>
      </div> -->

      <!--<i class="fas fa-eye"></i>-->
      <window header="Layers" class="layer-window">
        <table class="border layertable">
            <tbody>
                <tr repeat.for="layer of layers" class="${ layer == selectedLayer ? 'selectedrow' : '' }">
                    <td class="icon-field">
                        <i click.trigger="changeLayerVisibility(layer)" class="${ layer.show ? 'fa fa-lg fa-eye' : 'fa fa-lg fa-eye itemoff' }"></i>
                    </td>
                    <td click.trigger="changeSelectedLayer(layer)">
                        ${layer.id} - ${layer.name}
                    </td>
                    <td class="icon-field" click.trigger="removeLayer(layer)">
                        <i class="${ layer.id != 0 ? 'fa fa-lg fa-trash' : 'fa fa-lg fa-trash itemoff' }"></i>
                    </td>
                </tr>
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="2">
                        <input type="text" value.bind="newLayerName" />
                    </td>
                    <td class="icon-field">
                        <i click.trigger="addNewLayer(newLayerName, newLayerWidth, newLayerHeight)" class="fa fa-lg fa-plus"></i>
                    </td>
                </tr>
            </tfoot>
        </table>
        <br />

        <label><input type="checkbox" checked.bind="showAllLayers" change.delegate="redrawMap()">Show all layers</label>
      </window>
  
    <div id="divTileSet">
        Tile Width: <input id=tilewidth type=text value.bind="newLayerWidth" />
        Tile Height: <input id=tileheight type=text value.bind="newLayerHeight" />
        <div>
            <input id="image-selector" type="file" id="input">
            <button click.delegate = "importImage()">Import</button> 
        </div>
    </div>
    <!-- <div id="divMapLoader">
        <input id="file-selector" type="file" id="input">
        <button click.delegate = "importMap()">Import</button> 
    </div> -->

    <div id="divMapExporter">
        <button click.delegate = "downloadMap()">Export</button> 
    </div>    

    <window header="Tileset">
    <canvas id="myCanvas" width="400" height="400"></canvas>
    </window>
    <div id="divSelectedTile">
        Image Position X: <input type="text" value.two-way="currentTile.x">
        Image Position Y: <input type="text" value.two-way="currentTile.y">
        Width: <input type="text" value.two-way="currentTile.width">
        Height: <input type="text" value.two-way="currentTile.height">
        Name: <input type="text" value.two-way="currentTile.name"> 
        Terrain Type: <input type="text" value.two-way="currentTile.terrainType">
        <button click.delegate="fillLayer(selectedLayer, currentTile)">Fill</button>
        <button click.delegate="setEraseTile()">Eraser</button>
    </div>

    <div>
    <div>    
        Tiles X: <input id=tilesX type=text value="10" />
        Tiles Y: <input id=tilesY type=text value="10" />
    </div>
    <div >
        <canvas id="myMapCanvas" style="border: 2px solid black; margin: 0;" width="1" height="1"></canvas>
    </div>
</div>
</template>