<template bindable="router">

    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">rittenberry.io</a>
        <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarTogglerMain" aria-controls="navbarTogglerMain" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerMain">
          <ul class="navbar-nav">
            <li class="nav-item active" repeat.for = "row of router.navigation" class="${ row.isActive ? 'link-active nav-item' : 'nav-item' }" >
                <a class="nav-link" href.bind = "row.href">

                   <i class="fa fa-lg fa-${ row.settings.icon }"></i> ${ row.title }
                </a>
            </li>
          </ul>
        </div>
      </nav>
    <!-- <require from="./navmenu.css"></require> -->
    <!-- <div class="main-nav">
        <div class="">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/home">rittenberry.io</a>
            </div>
            <div class="clearfix"></div>
            <div class="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li repeat.for = "row of router.navigation" class="${ row.isActive ? 'link-active' : '' }" >
                        <a href.bind = "row.href">
 
                           <i class="fa fa-lg fa-${ row.settings.icon }"></i> ${ row.title }
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div> -->




</template>
