<template>
    <require from="./window.css"></require>
    <require from="./draggable"></require>
    <div id="foo" class="${ class != '' ? 'window-base ' + class : 'window-base' }" style.bind="stylestring" draggable mousedown.capture="onMouseDown()">
        <div class="header">
            ${header}
        </div>
        <div>
            <slot></slot>
        </div>
    </div>
</template>