.header {
    background-color: darkblue;
    color: white;
    cursor: pointer;
}

.window-base {
    position:absolute;
    resize: both;
    overflow: auto;
    border:black;
    border-style: double;
    background-color: white;
}