<template>
    <h1>
            <div>
        ▄████████████▄▐█▄▄▄▄█▌<br />
        █████▌▄▌▄▐▐▌██▌▀▀██▀▀<br />
        ███▄█▌▄▌▄▐▐▌▀██▄▄█▌<br />
        ▄▄▄▄█████████████<br />
    </div>
    </h1>

</template>
